* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/*end of css reset*/

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff
  
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: #4343F9;
  
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 240px;
    height: 360px;
    border-radius: 4px;
    
    box-shadow: 3px 3px 10px #00000033, -3px -3px 10px #00000033;

    font-size: 24px;
}

#root div {
    position: absolute;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;

    box-shadow: 3px 3px 10px rgba(0,0,0,0.2), -3px -3px 10px rgba(0,0,0,0.2)
}

#right {
    top: 50vh;
    left: 20px;
    transform: translate(0, -50%)
}

#top {
    top: 20px;
    left: 50%;
    transform: translate(-50%)
}

#left {
    top: 50vh;
    right: 20px;
    transform: translate(0, -50%)
}

#bottom {
    left: 50%;
    bottom: 20px;
    transform: translate(-50%)
}